body {
  background: #0f0f14;
  color: white;
  font-family: Arial;
  padding: 20px;
}

h1 {
  color: #00f7ff;
}

button {
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-box {
  background: #1a1a22;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

.ilan {
  background: #1a1a22;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.fiyat {
  color: #00ff88;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #1a1a22;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}
